<ion-view title="Piano" id="page6">
<ion-content padding="true" style="background: url(img/6t1cJUOFQZGx1ViGBjoh_Abstract-music-background-with-acoustic-guitar-vector.jpg) no-repeat center;background-size:cover;" class="has-header">
<div id="piano-container2">
    <h1 id="piano-heading2" style="color:#ECAF13;font-weight:600;font-style:italic;text-align:center;">Piano</h1>
    <div class="button button-balanced button-large"   style="font-size:22px;">
        <img src="img/ImagenBotones/leon.png"  alt="">
    </div>
    <div class="button button-balanced button-large">
        <img src="img/ImagenBotones/caballo.png" alt="">
    </div>
    <div class="button button-balanced button-large">
        <img src="img/ImagenBotones/gallo.png" alt="">
    </div>
    <div class="button button-balanced button-large">
        <img src="img/ImagenBotones/gato.png" alt="">
    </div>
    <div class="button button-balanced button-large">
        <img src="img/ImagenBotones/lechuza.png" alt="">
    </div>
    <div class="button button-balanced button-large">
        <img src="img/ImagenBotones/puerco.png" alt="">
    </div>
    <button id="piano-button7" style="font-size:22px;border-radius:-1px -1px -1px -1px;" class="button button-positive button-large">Tap me!</button>
</div>
</ion-content>
</ion-view>