<ion-view title="Piano" id="page6">
<ion-content padding="true" style="background: url(img/6t1cJUOFQZGx1ViGBjoh_Abstract-music-background-with-acoustic-guitar-vector.jpg) no-repeat center;background-size:cover;" class="has-header">
<div id="piano-container2">
    <h1 id="piano-heading2" style="color:#ECAF13;font-weight:600;font-style:italic;text-align:center;">Piano</h1>
    <div class="row header">
      <div class="col">
        <div class="button button-balanced button-large"  ng-click="play('leon')" style="font-size:22px;">
            <img src="img/ImagenBotones/leon.png"  alt="">
        </div>
    </div>
    <div class="col">
        <div class="button button-balanced button-large"  ng-click="play('caballo')"  style="font-size:22px;">
            <img src="img/ImagenBotones/caballo.png"  alt="">
        </div>
    </div>
    <div class="col">
        <div class="button button-balanced button-large"  ng-click="play('lechuza')" style="font-size:22px;">
            <img src="img/ImagenBotones/lechuza.png"  alt="">
        </div>
    </div>
    </div>


    <div class="row header">
      <div class="col">
        <div class="button button-balanced button-large" ng-click="play('gallo')"  style="font-size:22px;">
            <img src="img/ImagenBotones/gallo.png"  alt="">
        </div>
    </div>
    <div class="col">
        <div class="button button-balanced button-large" ng-click="play('puerco')"  style="font-size:22px;">
            <img src="img/ImagenBotones/puerco.png"  alt="">
        </div>
    </div>
    <div class="col">
        <div class="button button-balanced button-large" ng-click="play('gato')"  style="font-size:22px;">
            <img src="img/ImagenBotones/gato.png"  alt="">
        </div>
    </div>
    </div>
    <button class="button button-block button-positive" ng-click="Guardame()">
     Guardar
    </button>   
</div>
</ion-content>
</ion-view>