<ion-view title="Tabs Controller" hide-nav-bar="true" id="page1">
    <ion-tabs class="tabs-positive tabs-icon-left" id="tabsController-tabs1">
        <ion-tab title="Presentacion" icon="ion-ios-personadd" href="#/tabs/Presentacion" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Piano" icon="ion-music-note" href="#/tabs/Piano" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Usuarios" icon="ion-ios-people-outline" href="#/tabs/Usuarios" id="tabsController-tab6">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>